section{
        background-image: url(../images/herobanner.png);
        background-size: cover;
        height: 100vh;
        }
section h1, p{
        color:#F4F6d7;
        text-align: center;
    }
    .container{
        padding-top: 150px;
    }
    button a{
        text-decoration: none;
        color:#F4F6d7;
    }
    
    
    
    
    
    
    
    
    